
    <link rel="stylesheet" type="text/css" href="~/css/Menu.css">

<body>

    <div class="w3-container w3-center">

<header class="menu">
    <h2>Menu</h2>
</header>


<h3><a href="/CarRent/Create">1 Register new Car Rent</a></h3>
<h3><a href="/CarRent/Index">2 Update Car Rent</a></h3>
<h3><a href="/CarRent/Index">3 List Rents</a></h3>
<h3>4 List Available Cars</h3>
<h3><a href="/Customers/Create">5 Register new Customer</a></h3>
<h3><a href="/Customers/Index">6 Update Customer</a></h3>
<h3><a href="/Customers/Index">7 List Customers</a></h3>
        
    </div>
    </body>